<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/QCGmainLOGO1-removebg_new.png" type="image/x-icon">
    <title>Home | QCG</title>
    <link rel="stylesheet" href="feedback.css">
</head>
<body>
    <div class="top">
        <h1>Feedback Form</h1>

    </div>
</body>
</html>