<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QCG-Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="main">
        <nav>
            <a href="/"><img class="logo" src="/assets/images/Nav-logo.png" alt=""></a>
            <ul>
                <li><a style ="text-decoration: underline;" href="/">Home</a></li>
                <li><a href="https://qcg.iitr.ac.in/events.html">Events</a></li>
                <li><a href="https://github.com/qcgiitr">GitHub</a></li>
                <li><a href="https://medium.com/@qcgiitr">Blogs</a></li>
                <li><a href="https://drive.google.com/drive/folders/16Y-ZDR-sl8D2ESm8WWOJ4DG7pOxWTE8f">Resources</a></li>
                <li><a href="https://qcg.iitr.ac.in/team.html">Team</a></li>
                <li><a href="https://qcg.iitr.ac.in/hackathon.html">QFF'24</a></li>
            </ul>
            <div class="dark">
                <div class="left bg"><div class="sun"></div></div>
                <div class="right"><img class="moon" src="/assets/images/moon.png" alt=""></div>
            </div>
        </nav>
        <div class="background">

        </div>
        <div class="page1">
            <span class="hello">Hello, we are</span>
            <span class="qcg"><span>QCG IIT Roorkee</span></span>
            <div class="typing">
                <h1 class="work">We work on Quantum </h1>
                <ul class="key">
                    <li><span><h1>Information</h1</span></li>
                    <li><span><h1>Algorithms</h1></span></li>
                    <li><span><h1>Communication</h1></span></li>
                    <li><span><h1>Cryptography</h1></span></li>
                    <li><span><h1>Hardware</h1></span></li>
                    <li><span><h1>Machine Learning</h1></span></li>
                    <li><span><h1>Computing</h1></span></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
</body>

</html>